@keyframes draw-line {
    100% {
        stroke-dashoffset: 0;
    }
}

.container {
    width: 640px;
    margin: 0 auto;
}

path.connect-path {
    -webkit-animation: draw-line 2s linear forwards;
    -o-animation: draw-line 2s linear forwards;
    animation: draw-line 2s linear forwards;
}

g.y-axis path.domain {
    display: none;
}

g.x-axis path.domain {
    fill: none;
    stroke: #F2F2F2;
    stroke-width: 1;
}

g.x-axis g.tick text,
g.y-axis g.tick text {
    fill: #000000;
    font-size: 16px;
}

g.x-axis g.tick text {
    opacity: 0.6;
}

g.y-axis g.tick text {
    opacity: 0.54;
}

g.x-axis line,
g.y-axis line {
    fill: none;
    stroke: #EFEFEF;
    stroke-width: 1;
}

.pointer {
    stroke-dasharray: 2,2;
}

@media screen and (max-width: 639px) {
    .container {
        width: 100%;
    }
}