html {
    font-family: Roboto, sans-serif;
}

g.y-axis path.domain {
    display: none;
}

g.y-axis g.tick text {
    fill: #868686;
}

g.x-axis path.domain {
    fill: #F2F2F2;
}

g.x-axis g.tick text {
    fill: #777777;
}